In [12]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import math
%matplotlib inline

The MNIST Database of handwritten digits -  http://yann.lecun.com/exdb/mnist/

The below function is from: https://pjreddie.com/projects/mnist-in-csv/

In [13]:
# Note: This is only needed with the raw files if you haven converted them to CSV.
# def convert(imgf, labelf, outf, n):
#     f = open(imgf, "rb")
#     o = open(outf, "w")
#     l = open(labelf, "rb")

#     f.read(16)
#     l.read(8)
#     images = []

#     for i in range(n):
#         image = [ord(l.read(1))]
#         for j in range(28*28):
#             image.append(ord(f.read(1)))
#         images.append(image)

#     for image in images:
#         o.write(",".join(str(pix) for pix in image)+"\n")
#     f.close()
#     o.close()
#     l.close()

# convert("train-images.idx3-ubyte", "train-labels.idx1-ubyte",
#         "mnist_train.csv", 60000)
# convert("t10k-images.idx3-ubyte", "t10k-labels.idx1-ubyte",
#         "mnist_test.csv", 10000)

In [14]:
df_train = pd.read_csv('mnist_train.csv', header=None)
df_test = pd.read_csv('mnist_test.csv', header=None)

In [15]:
df_train = df_train.head(5) #this line is in to limit the number of rows of data 5
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_test = df_test.head(5) #this line is in to limit the number of rows of data 5
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
count,5.000000,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
mean,3.800000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,3.563706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df_test.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
count,5.000000,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
mean,2.800000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,2.774887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
###the below up until the functions was added after the functions were written

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
scaler = StandardScaler()

In [30]:
scaler.fit(df_train.drop(0, axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [31]:
scaler.fit(df_test.drop(0, axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [32]:
scaled_train_features = scaler.transform(df_train.drop(0, axis=1))

In [33]:
scaled_test_features = scaler.transform(df_test.drop(0, axis=1))

In [34]:
df_train_feat = pd.DataFrame(scaled_train_features,columns=df_train.columns[1:])
df_train_feat.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
df_test_feat = pd.DataFrame(scaled_test_features,columns=df_test.columns[1:])
df_test_feat.head()

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
X_train = df_train_feat
y_train = df_train[0]
X_test = df_test_feat
y_test= df_test[0]

In [85]:
train_dataset = df_train.loc
number_of_col = len(train_dataset[0])

test_dataset = df_test.loc

#going to put the loc of test row into and use the below in a function

def distance(test_row, train_row):
    '''returns the distance between a test_row and a training row'''
    data_points = zip(test_row, train_row)
    dist_squares_list = [(a-b)**2 for (a,b) in points]
    dist = (sum(dist_squares_list))**.5
    return dist

def test_row_neighbors(test_row, train_dataset):
    '''returns a list of tuples (test_index, distance, y-value) for the test_row vs all the training data'''
    neighbor_tuple_list = []#[(index, distance),. . . ]
    for train_row in train_dataset:
        train_row_index = train_dataset.index(train_row)
        dist = distance(test_row, train_row)
        nieghbor_tuple.append((train_row_index, dist, train_row[0]))
    return neighbor_tuple_list.sort(key = operator.itemgetter(1))

def label_knn(k, neighbor_tuple_list):
    '''takes the first k tuples from test_row_neigbors function output'''
    k_tuple_list = neighbor_tuple_list[0:k]
    labels = []
    for item in k_tuple_list:
        labels.append(item[2]) #this should take the label of the tuple (at index 2) and add it to the list
    return mode(labels)
####

def pred_knn(test_row, k, train_dataset):#added train_dataset
    neigbors = test_row_neighbors(test_row, train_dataset)#added train_dataset
    y_pred = label_knn(k, neighbors)
    return y_pred
#####

def pred_list_knn(test_dataset, k, train_dataset):#added, train_dataset
    y_pred_list = []
    for row in test_dataset:
        y = pred_knn(row,k,train_dataset)#added, train_dataset
        y_pred_list.append(y)
    return y_pred_list

In [86]:
y_pred = pred_list_knn(X_test, 3, X_train)

TypeError: 'RangeIndex' object is not callable

In [84]:
l= [1,2,3,4]
l.index(2)

1

In [77]:
#this is a better way of manipulating the dataset
def diff(series):
    def diff_2(series_2):
        square_diff = (series - series_2)**2
#         print(square_diff)
        return square_diff
        
    ret_val = df_test.T.apply(diff_2)
    print(ret_val)

# df_test.T
df_test.T.apply(diff)

# (df_test.T[1] - df_test.T[0])**2

     0   1   2   3  4
0    0  25  36  49  9
1    0   0   0   0  0
2    0   0   0   0  0
3    0   0   0   0  0
4    0   0   0   0  0
..  ..  ..  ..  .. ..
780  0   0   0   0  0
781  0   0   0   0  0
782  0   0   0   0  0
783  0   0   0   0  0
784  0   0   0   0  0

[785 rows x 5 columns]
      0  1  2  3  4
0    25  0  1  4  4
1     0  0  0  0  0
2     0  0  0  0  0
3     0  0  0  0  0
4     0  0  0  0  0
..   .. .. .. .. ..
780   0  0  0  0  0
781   0  0  0  0  0
782   0  0  0  0  0
783   0  0  0  0  0
784   0  0  0  0  0

[785 rows x 5 columns]
      0  1  2  3  4
0    36  1  0  1  9
1     0  0  0  0  0
2     0  0  0  0  0
3     0  0  0  0  0
4     0  0  0  0  0
..   .. .. .. .. ..
780   0  0  0  0  0
781   0  0  0  0  0
782   0  0  0  0  0
783   0  0  0  0  0
784   0  0  0  0  0

[785 rows x 5 columns]
      0  1  2  3   4
0    49  4  1  0  16
1     0  0  0  0   0
2     0  0  0  0   0
3     0  0  0  0   0
4     0  0  0  0   0
..   .. .. .. ..  ..
780   0  0  0  0   0
781   0  0  0  0   0
782   0  0  0  0   0
783   0  0  0  0   0
784   0  0  0  0   0

[785 rows x 5 columns]
     0  1  2   3  4
0    9  4  9  16  0
1    0  0  0   0  0
2    0  0  0   0  0
3    0  0  0   0  0
4    0  0  0   0  0
..  .. .. ..  .. ..
780  0  0  0   0  0
781  0  0  0   0  0
782  0  0  0   0  0
783  0  0  0   0  0
784  0  0  0   0  0

[785 rows x 5 columns]

0    None
1    None
2    None
3    None
4    None
dtype: object

In [19]:
# point (x1,x2,x3,y)
p1 = (3,5,7)
p2 = (1,2,3)

dist_squared = (p2[2] - p1[2])**2 + (p2[0] - p1[0])**2 + (p2[1]-p1[1])**2
dist = (dist_squared)**.5
dist

5.385164807134504

In [39]:
x = df_test.loc[1,0]
x

2

In [40]:
y = df_test.loc[1]
y[0]

2

In [41]:
z = df_test.loc
z[1,0]

2

In [21]:
pow(2,3) == 2**3

True